table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
  
td, th {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}
  
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:hover{
  background-color: #999999;
}